@charset 'utf-8';

// color
$colorPrimary: #1f97df;
$colorSecondary: #f39800;
$gray: #aaa;
$white: #fff;
$dark: #222;
$light: #eee;

$colorGray: #ddd #ccc #bbb #aaa #999 #888 #777 #666;

// font
$SpoqaHanSansNeo: 'SpoqaHanSansNeo';

// size
$maxWidth: 1920;
$minWidth: 375px;
